In [1]:
import mysql.connector

In [2]:
con = mysql.connector.connect(
            user='root', password='root', port="3306", database='db')

In [3]:
cursor = con.cursor()
cursor.execute('Select * FROM cadastro')
cadastro = cursor.fetchall()

In [4]:
cadastro

[(1,
  'female',
  'Miss',
  'Victoria',
  'Lambert',
  'Gloucester',
  'Rutland',
  'United Kingdom',
  'victoria.lambert@example.com',
  datetime.date(1965, 6, 20),
  datetime.datetime(2024, 3, 16, 0, 0)),
 (2,
  'male',
  'Mr',
  'Emilio',
  'Nordli',
  'Brønnøysund',
  'Hordaland',
  'Norway',
  'emilio.nordli@example.com',
  datetime.date(1960, 2, 25),
  datetime.datetime(2024, 4, 3, 0, 50, 3)),
 (3,
  'male',
  'Mr',
  'Bogdan',
  'Isaković',
  'Kula',
  'Pomoravlje',
  'Serbia',
  'bogdan.isakovic@example.com',
  datetime.date(1973, 10, 15),
  datetime.datetime(2024, 4, 3, 0, 50, 3)),
 (4,
  'female',
  'Mrs',
  'Hannah',
  'Patel',
  'Lasalle',
  'Nunavut',
  'Canada',
  'hannah.patel@example.com',
  datetime.date(1972, 5, 26),
  datetime.datetime(2024, 4, 3, 0, 50, 3)),
 (5,
  'female',
  'Ms',
  'Julia',
  'Benítez',
  'Vigo',
  'Región de Murcia',
  'Spain',
  'julia.benitez@example.com',
  datetime.date(1973, 7, 27),
  datetime.datetime(2024, 4, 3, 0, 50, 3)),
 (6,
  'female',
  'Miss',
  'Gonca',
  'Erberk',
  'Burdur',
  'Kars',
  'Turkey',
  'gonca.erberk@example.com',
  datetime.date(1982, 11, 4),
  datetime.datetime(2024, 4, 3, 0, 50, 3))]