In [1]:
import mysql.connector

In [2]:
con = mysql.connector.connect(
            user='root', password='root', port="3306", host = 'localhost', database='db')

In [3]:
cursor = con.cursor()
cursor.execute('Select * FROM cadastro')
cadastro = cursor.fetchall()

In [4]:
cadastro

[(1,
  'female',
  'Miss',
  'Victoria',
  'Lambert',
  'Gloucester',
  'Rutland',
  'United Kingdom',
  'victoria.lambert@example.com',
  datetime.date(1965, 6, 20),
  datetime.datetime(2024, 3, 16, 0, 0)),
 (2,
  'female',
  'Ms',
  'سارینا',
  'قاسمی',
  'خمینی\u200cشهر',
  'بوشهر',
  'Iran',
  'sryn.qsmy@example.com',
  datetime.date(1961, 2, 10),
  datetime.datetime(2024, 4, 10, 0, 20, 8)),
 (3,
  'female',
  'Mrs',
  'Shanaya',
  'Padmanabha',
  'Akola',
  'Uttarakhand',
  'India',
  'shanaya.padmanabha@example.com',
  datetime.date(1959, 8, 15),
  datetime.datetime(2024, 4, 10, 0, 20, 8)),
 (4,
  'male',
  'Mr',
  'Winfried',
  'Ter Maat',
  'Haarle gem Tubbergen',
  'Drenthe',
  'Netherlands',
  'winfried.termaat@example.com',
  datetime.date(1994, 5, 24),
  datetime.datetime(2024, 4, 10, 0, 20, 8)),
 (5,
  'male',
  'Mr',
  'Charlie',
  'Wright',
  'Taupo',
  "Hawke'S Bay",
  'New Zealand',
  'charlie.wright@example.com',
  datetime.date(1958, 11, 29),
  datetime.datetime(2024, 4, 10, 0, 20, 8)),
 (6,
  'female',
  'Miss',
  'Imogen',
  'Johnson',
  'Tauranga',
  'Marlborough',
  'New Zealand',
  'imogen.johnson@example.com',
  datetime.date(1968, 2, 3),
  datetime.datetime(2024, 4, 10, 0, 20, 8))]